html {
	margin: 0;
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	min-height: 100%;
	padding: 0;
	background: #C0392B;
}

header {
	display: block;
	padding: 20px;
}

.tabbutton {
	width: 25%;
	align: right;
	background-color: #A91000;
	border: none;
	outline: none;
}

.tabbutton:hover {
	background-color: #EB220D;
}

.tabcontent {
	padding: 100px;
	display: none;
}

.default {
	display: block;
}

div {
	margin: 0;
	border-style: none;
	border: 0;
	display: block;
}

h1, h2, h3, h4 {
	margin: 0;
	text-align: left;
	display: inline;
}

h1 {
	padding-left: 30px;
}

img {
	margin: 0;
	padding: 0;
	border: 0;
	border-style: none;
}

p {
	margin: 0;
	padding: 10px 0;
}
